.main {
    display: flex;
    align-items: center;
    overflow: hidden;
}

.routes {
    height: 100vh;
    width: 100%;
    overflow-y: scroll;
    background-color: #15141b;
    padding: 2rem 4rem 0 4rem;
}